
[default]
project: test-svngit

[test-svngit]
verbose: false
keep_tmp: false

outputdir: /home/git/output
#outputdir: /tmp/svngit
svnroot: /home/git/output/test-svngit.svn-wc
svnrepo: file:///home/git/output/test-svngit.svn-repo
svnmodule: /trunk

gitrepo: /home/git/repositories/test-svngit.git
gitref: refs/heads/master

[gobo]
verbose: true
keep_tmp: true

outputdir: /home/jfiat/work/git/test-svn-git/output
svnroot: /home/jfiat/work/git/test-svn-git/output/gobo.svn-wc
svnrepo: file:///home/jfiat/work/git/test-svn-git/output/gobo.svn-repo
svnmodule: /trunk

gitrepo: /home/jfiat/work/git/test-svn-git/input/bare/gobo.git
gitref: refs/heads/master
gitbare: true

