
[default]
project: test-svngit

[test-svngit]
verbose: false
keep_tmp: false

outputdir: /home/git/output
#outputdir: /tmp/svngit
svnroot: /home/git/output/test-svngit.svn-wc
svnrepo: file:///home/git/output/test-svngit.svn-repo
svnmodule: /trunk

gitrepo: /home/git/repositories/test-svngit.git
gitref: refs/heads/master

[gobo-jocelyn]
verbose: true
keep_tmp: true

outputdir: /usr/local/home/jfiat/work/git2svn/output/gobo-jocelyn
tmpdir: /usr/local/home/jfiat/work/git2svn/output/gobo-jocelyn/tmp
svnroot: /usr/local/home/jfiat/work/git2svn/output/gobo-jocelyn/wc
svnrepo: file:///usr/local/home/jfiat/work/git2svn/output/gobo-jocelyn/svn
svnmodule: /trunk

gitrepo: /usr/local/home/jfiat/work/git2svn/input/bare/gobo-jocelyn.git
gitref: refs/heads/master
gitbare: true

[sf-gobo-eiffel]
verbose: false
keep_tmp: false

outputdir: /usr/local/home/jfiat/work/git2svn/output/sf-gobo-eiffel
tmpdir: /usr/local/home/jfiat/work/git2svn/output/sf-gobo-eiffel/tmp
svnroot: /usr/local/home/jfiat/work/git2svn/output/sf-gobo-eiffel/wc
svnrepo: file:///usr/local/home/jfiat/work/git2svn/output/sf-gobo-eiffel/svn
svnmodule: /trunk

gitrepo: /usr/local/home/jfiat/work/git2svn/input/bare/sf-gobo-eiffel.git
gitref: refs/heads/master
gitbare: true

