
[default]
verbose: false
logging: true
keep_tmp: false
project: gobo-vs

git2svndir: /home/jfiat/local/work/git2svn

[gobo-vs]

outputdir: %(git2svndir)s/output/gobo-vs
tmpdir: %(outputdir)s/tmp
svnwc: %(outputdir)s/wc
svnrepo: file://%(outputdir)s/svn
svnmodule: /void-safe
#svnauthor: from-git-repo

gitrepo: %(git2svndir)s/input/bare/gobo-vs.git
gitbranch: void-safe-experimental
gitref: refs/heads/void-safe-experimental
gitbare: true

[gobo-eiffel]

outputdir: %(git2svndir)s/output/gobo-eiffel
tmpdir: %(outputdir)s/tmp
svnwc: %(outputdir)s/wc
svnrepo: file://%(outputdir)s/svn
svnmodule: /gobo/trunk
#svnauthor: from-git-repo

gitrepo: %(git2svndir)s/input/bare/sf-gobo-eiffel.git
gitref: refs/heads/master
gitbare: true

[bricabrac-hook]
verbose: true
log: true
keep_tmp: true
 
outputdir: /gitrepo/b/br/bricabrac/bricabrac/tmp/output
tmpdir: /gitrepo/b/br/bricabrac/bricabrac/tmp/output/tmp
svnwc: /gitrepo/b/br/bricabrac/bricabrac/tmp/output/wc
#svnroot: /gitrepo/b/br/bricabrac/bricabrac/tmp/output/svn
svnrepo: https://bricabrac.svn.sourceforge.net/svnroot/bricabrac
svnmodule: 
 
gitrepo: /gitrepo/b/br/bricabrac/bricabrac
gitref: refs/heads/master
gitbare: true
